<%- include("header") -%>

  <form class="" action="/shop/addproduct" method="post">
    <input type="text" name="title" placeholder="Product Title" value="">
    <input type="text" name="des" placeholder="Product Description" value="">
    <input type="number" name="price" placeholder="Product Price" value="">
    <input type="number" name="stock" placeholder="Current Stock" value="">

    <button type="submit" name="button">Add</button>
  </form>

</body>
</html>
