<%- include("header") -%>

  <section class="sec">
    <h1>All Orders</h1>

    <div class="orders">
      <% for(let order of orders){%>
        <div class="order">
          <p><%= order.totalVal%></p>
          <p><%= order.status%></p>

          <% for(let product of order.products){%>
              <p><%= product.title%></p>
          <%}%>
        </div>
      <%}%>
    </div>
  </section>

</body>
</html>
