<%- include("header") -%>

  <section class="sec">
    <div class="lanSec">
      <h2>Now shops in your city <br>are at your fingertips.</h2>
      <img src="https://static.vecteezy.com/system/resources/previews/002/058/181/large_2x/takeaway-coffee-shop-concept-free-vector.jpg" alt="">
    </div>
  </section>

</body>
</html>
